.element{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Event-Info{
    text-align: center;
    color: gray;
    margin: 0px 30px;
}

.color-change-kro{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.699);
}

.Event-Info > h2{
    color: rgba(0, 0, 0, 0.699);
    border-bottom: 0.2px solid lightgray;
}
.mess > .color-change-kro{
   color: white;
   font-style: italic;
   font-family: cursive;
   background-color: royalblue;
   padding: 10px;
   border-radius: 50px;
}


@media(max-width: 550px)
{
    .mess{
        visibility: collapse;
        display: none;
    }
}